<div class="section wallet-card-section pt-1">
  <div class="wallet-card">
    <!-- Balance -->
    <div class="balance">
      <div class="left">
        <span class="title">Wallet Balance</span>
        <h1 class="total">₦ <%= Number(balance.amount).toLocaleString() %>
        </h1>
      </div>
      <div class="right">
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#depositActionSheet">
          <i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp; Fund
        </a>
      </div>
    </div>
    <!-- * Balance -->
    <!-- Wallet Footer -->

    <!-- * Wallet Footer -->
  </div>
</div>